.min-w-6 {
  min-width: 6rem;
}
.min-w-12 {
  min-width: 12rem;
}
.min-h-12 {
  min-height: 12rem;
}
.my-min-18 {
  margin-top: -18%;
  margin-bottom:-18%
}
.-mb-px {
  margin-bottom: -1px;
}
@media (min-width: 768px) {
  .min-w-500 {
    min-width: 500px;
  }
  .max-w-600 {
    max-width: 600px;
  }
}